html {
    background-color: #1E201F;
    font-family: sans-serif;
    height: 100%;
    color: #FCFCFE;
}

html:not(.dark) {
    background-color: #f1f5f9;
    color: #1E201F;
}

body {
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --accent-color: hsl(232, 97%, 70%);
    --text-color: #cdd6f4;
    --latte-base: #eff1f5;
    --latte-mantle: #e6e9ef;
    --latte-crust: #dce0e8;
    --latte-accent-color: hsl(231, 97%, 72%);
    --latte-text-color: #4c4f69;

    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 90px 1rem 1rem;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}



h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.content {
    width: 100%;
    flex: 1;
}

/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
    display: none;
}

.hamburger .line {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.hamburger:hover .line {
    background-color: var(--accent-color);
}

.hamburger .line {
    background-color: var(--text-color);
}

html:not(.dark) .hamburger .line {
    background-color: var(--latte-text-color);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    transition: color 0.3s ease;
    position: relative;
}

html:not(.dark) .navigation a {
    color: var(--latte-text-color);
}

.navigation a:hover,
.navigation a:focus {
    color: var(--accent-color);
}

html:not(.dark) .navigation a:hover,
html:not(.dark) .navigation a:focus {
    color: var(--latte-accent-color);
}


@media screen and (max-width: 636px) {
    .hamburger {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(30, 32, 31, 0.95);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        flex-direction: column;
        display: none;
        padding: 1rem 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    html:not(.dark) .navigation {
        background-color: rgba(241, 245, 249, 0.95);
    }


    .navigation a {
        width: 100%;
        padding: 15px 0;
    }

    .expanded {
        display: flex;
    }
}
